<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Struk Belanja</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Hasil Belanja Anda</div>
        <hr>
        <table border ="2">
         <tr>
            <th>Nama </th>
            <th>Harga Satuan </th>
            <th>Jumlah </th>
            <th>Harga Awal</th>
            <th>Potongan Harga</th>
            <th>Total Setelah Diskon </th>
            <th>Diskon</th>
            <th>Pembayaran</th>
            <th>Kembalian </th>
            
        </tr>
        <tr>
            <td th:text="${name}"></td></br>
            <td th:text="${price}"></td></br>
            <td th:text="${quantity}"></td></br>
            <td th:text="${priceTotal}"></td></br>
            <td th:text="${discPrice}"></td></br>
            <td th:text="${TotalPrice}"></td></br>
            <td th:text="${disc}"></td></br>
             <td th:text="${money}"></td></br>
             <td th:text="${return}"></td></br>
        </tr>
        </table>
    </body>
</html>
